{% load staticfiles %}
{% load extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static "vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
    <title>Huonot Uutiset</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Navigaatio</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Huonot Uutiset</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="{% active_page request "home" %}"><a href="{% url "home" %}">Etusivu</a></li>
                            <li class="{% active_page request "about" %}"><a href="{% url "about" %}">Tietoa</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% block content %}{% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static "vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
</body>
</html>
