{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <table>
            <caption>Keskimäärin huonoin sivusto</caption>
            {% for site in site_avg %}
                <tr>
                    <th>{{ forloop.counter }}.</th>
                    <td><a href="{% url 'site' site.id %}">{{ site.name }}</a></td>
                    <td align="right">{{ site.score|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <table>
            <caption>Huonoimmat otsikot</caption>
            {% for newsitem in worst_titles %}
                <tr>
                    <th>{{ forloop.counter }}.</th>
                    <td><a href="{% url 'site' newsitem.site.id %}">{{ newsitem.site.name }}</a>: {{ newsitem.title }}</td>
                    <td align="right">{{ newsitem.score|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <table>
            <caption>Surkeiden otsikoiden osuus</caption>
            {% for percentage, site in bad_percentages %}
                <tr>
                    <th>{{ forloop.counter }}.</th>
                    <td><a href="{% url 'site' site.id %}">{{ site.name }}</a></td>
                    <td align="right">{{ percentage }} %</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
